* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sailec;
    font-size: 1.4em;
/*    background:url("../img/santorini.jpg") no-repeat center center;
    background-size:cover;  */
    background: #fff;
}


.container {
    max-width: 800px; /* stretch the width to 100% until 800px */
    margin: 0 auto; /* this will only work for a fixed-width div*/
}

.container.logo {
    background: #444;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color: #eee;
    margin: 0;
    padding-left: 10px;
    line-height: 100px;
}

.header h1 a {
    text-decoration: none; 
    color: #eee; 
}


.logo {
    width: 20%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
}

.nav {
/*    width: 80%;*/
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: 5%;
}



nav ul { /* all the menus that are inside nav */
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

div .nav li {
    display: inline-block;
    float: left;
}

/*nav > ul > li { 
    width: 60px;
    height: 0px;
    display: inline-block;
    vertical-align: top; 
    text-align: center;
}*/

/*nav ul li:hover ul { *//* Hover on li to reveal the child of li which is ul i.e. the sub-menu */
/*    display: block;
    width: 180px;
}*/


nav ul li a { /* all the anchor tags */
    color: #000;
    padding: 10px; /* so we can have enough clickable space */
    line-height: 40px;
    text-decoration: none;
/*    height: 100px;*/
    font-size: 65%;
}

nav ul li a:hover {
    color: #fff;
}

.footer nav{
    text-align: center;
    background: #eee;
}

div.home-page {
    background: #fff;
/*    margin-top: 10px;*/
}
.green-rectangle{
    width:500px;
    height:700px;
    background:#E5CBB8;
    margin-left: 35vh;
    z-index: 1;
}

.sunglasses{
    width:700px; /* you can use % */
    height: auto;
    margin-top: -60vh;
    margin-left: 90vh;
    z-index: 2;
}

.palm {
    width:700px; /* you can use % */
    height: auto;
    margin-top: -65vh;
    margin-left: 18vh;
    z-index: 3;
}

.verbiage h1{
    font-size: 2em;
    text-align:left;
    width: 90%;
    color: #fff;
    margin-left: 15px;
    line-height: 1.15;
}
.verbiage p{
    font-size: .9em;
    text-align: left;
    width: 75%;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 50px;

}
.footer{
    text-align: center;
    background: #eee
}
.footer p{     
    padding-top: .5em;
    padding-bottom: .75em;
    font-size: .7em;
    margin: 0;
    text-align: center;
    background: #eee;

}

.footer nav ul li {
    display: inline-block;
    color: #eee;
    text-align: center;
}

.salon__pic {
    max-width: 48%;
    max-height: 80%;
    width:auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.products__pic {
    max-width: 60%;
    max-height: 80%;
    width:auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*accordian*/
.service__title {
    text-align: center;
    font-size:.7em;
}

.container {
    width: 100%;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
}

.accordion {
    color: #333;
    background: #ddd;
    margin-top: 5%;
    margin-bottom: 5%;
}

.accordion__title {
    padding: 15px;
    cursor: pointer;
}
.accordion__title--active,
.accordion__title:hover {
    background: #ccc;
}
.accordion__title p {
    margin: 0;
    font-weight: bold;
}
.accordion__title p::before {
    display: inline-block;
    width: 20px;
    content: "+";
}
.accordion__title--active p::before {
    content: "-";
}

.accordion__content {
    padding: 15px 15px 15px 35px;
    font-size: 1.25rem;
    line-height: 2;
    display: none;
}

.accordion-baby h1 {
    color: #000;
    text-align: center;
    font-size: 100%;
    margin-bottom: 20px;
}

