#wrap{
	background-color: #545649;
	width: 80%;
	margin: 0 auto;
	position: relative;
/*	overflow: hidden;*/
}

header h1{
	background-color: yellow;
	text-align: right;
	margin: 0;
}

#content ul{
	text-align: center;
	list-style-type: none;
}

#content p{
	margin:0;
    padding: 0;
    size: 200px;
}

#content h1{
	margin: 0;
}

footer p{
	background-color: green;
	margin: 0;
}

nav {
	background-color: green;
	padding: 0px;

}

aside {
	background-color: white;
	float: right;
	width: 200px;
	height: 458px;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


nav ul {
    list-style-type: none;
/*    margin: 0;*/
    padding: 0;
    text-align: center;
}

nav {
	border: solid green;
/*	margin: 0;
	padding: 0;*/
}

nav li {
	display: inline;
	background-color: black;
	border: 10px solid black;
}

nav li a {
	color: white;

}

nav li a:link {
    text-decoration: none;
}

body {
	background-color: grey;
}

p.copyright {
	padding: 20px;
	border: 20px;
}

aside h2 {
	font-size: 30px;
	margin: 0;

}

