@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
    padding: 0;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 1.25;
    background-color: #f9fafb;
    color: #fff;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 2px 80px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 2px solid #eee;
    z-index: 1;
}

nav div.logo {
    height: 40px;
    float: left;
}

.logo img {
    width: 30px;
    height: auto;
    margin-bottom: -22px;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    display: flex;
    height: 40px;
}

nav ul li a {
    line-height: 65px;
    list-style: none;
    color: #151515;
    padding: 12px 20px 0px 20px;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
}

nav ul li a:hover {
    color: #eee;
}

section {
    margin: 200px 100px;
    position: relative;
    height: 500px;
}

section div.overlay {
    position: absolute;
    top: 0;
    left: 0;
/*    background-color: rgba(39,39,230,0.4);*/
    background-color: #000;
    width: 100%;
    height: 100%;
}

section h2 {
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 45vh;
    font-size: 20px;
}

section img {
    width: 200px;
    height: auto;
}

/*section.sec1 {
    width: 100%;
    height: 100vh;
    background: url(../img/good-morning.jpg);
    background-size: cover;
    background-position: center;
}

content {
    margin-top: 80px;

}

.content p {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}
div.content {
    width: 75%;
}

div.main-section {
    align-items: center;
}
*/






