/* ***************** STEP 2 ******************/

@media screen and (min-width:650px){

	#top-nav {
		border:  ;
	}
	.top-nav ul li{ 
		display: inline-block;
		margin-right: -5px;}
	.top-nav ul {
		text-align: center;
		position: relative;
		bottom: 5px;}
	.top-nav ul li, .menu-icon{
		border-top: 1px solid #F54320; }
	header {
		position: absolute;
		z-index: 2;}
	.home-flag {
		position: relative;
		bottom: 200px;
		z-index: 1;}

	.crafts {
		position: relative;
		bottom: 175px;
	}
	.photo-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}


	div.maroon {
		grid-column: 1/5;
		grid-row: 1 / 2 ;
	}
	div.yellow {
		grid-column: 1 / span 2;
/*		grid-row: 1fr;*/
	}
	div.bluish-purple {
		grid-column: 3 / span 2;
		display: absolute;
		bottom: 200px;
		grid-row: 1fr;

	}

	div.black {
		grid-row: 4 / 5;
	}

	div.green {
		display: 4 / 5;
	}
	div.light-blue {
		display: 4 / 5;
	}
	div.red {
		display: 4 / 5;
	}
	}

/* ***************** STEP 3 ******************/

@media screen and (min-width:1000px){
	.top-nav ul li{ 
	display: inline;
	float: left;
	}
	.top-nav ul {
		text-align: right;
		float: right;
		position: relative;
		bottom: 12px;
		right: 15px;
	}
	.logo img {
		float: left;
	}
	.top-nav ul li, .menu-icon{
		border-top: 1px solid #211D24; }
	
	header, footer, .logo {
		border: 10px solid #211D24;}

	.logo img{
		height: 4em;
		position: relative;
		bottom: 8px;}

	.photo-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	div.black {
		grid-column: 1 / span 4;
		grid-row: 1 / 2;
	}

	div.maroon {
		grid-column: 5 / span 4;
		grid-row: 1 / 2 ;
	}
	div.yellow {
		grid-column: 1 / span 2;
	}
	div.bluish-purple {
		grid-column: 3 / span 2;
		display: absolute;
		bottom: 170px;
		grid-row: 1fr;}

	div.green {
		grid-column: 5 / span 4;
		grid-row: 1fr;}
	div.light-blue {
		grid-column: 1 / span 4;
		grid-row: 3 / span 1;}
	div.red {
		grid-column: 5 / span 4;
		grid-row: 3 / span 1;}
	}

	